<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Cocktail App</title>    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Fredericka+the+Great&display=swap" rel="stylesheet">

</head>
<body>
  <div id="app">
    
    <div class="titleArea" style="display: flex; 
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;">
        <h1 >The Perfect Cocktail</h1>
        <img style=" width:25px;
                     height: auto;
                     margin-left: 10px;"
                      src="../vueCocktailApp/cocktailicon.svg">
    </div>
  <div class="inputarea">    
    <input v-model="newItem" type="text" @keyup.enter="searchItem" placeholder="Search drink..." />
    <button id="btn" @click="searchItem" :disabled="newItem.length === 0"><img src="../vueCocktailApp/searchicon.svg"></button>
  </div>
    <section id="drinksection">
      
        <div v-if="items.length">
        <ul v-if="items.length">
            <li style="background: #ffffff; 
                       margin-bottom: 15px;
                       box-shadow: 1px 1px 15px -2px #07070730;
                       border-radius: 10px;
                       padding: 0px 0px 20px 0px;
                       color: rgb(0, 0, 0);
                       font-size: 14px;
                       text-transform: uppercase;"
                @click="displayDrink(drink.idDrink)" v-for="drink in items" :key="drink.idDrink">
                <img :src="drink.strDrinkThumb">
                <span style="margin-left: 20px; font-size: 16px; opacity: .5;">{{drink.strDrink}}</span>
            
            </li>
        </ul>
    </div>

    <div class="overlay" v-if="showSingleDrink">
        <div style="width:100%; padding:25px;">
            <button style="border-radius: 50px;" @click="showSingleDrink = false"><img style="width: 20px;
                height: 20px;"src="../vueCocktailApp/keyboard_backspace_black_24dp.svg"></button>
            <div class="innerarea">
            <h3>{{activeDrink.strDrink}}</h3>



            <img style="max-width:150px; border-radius: 10px;" :src="activeDrink.strDrinkThumb"/>


            <div style="display: flex; flex-direction: row;"class="infoarea">
                    <div style="width: 50%;" class="ingredients">
                            <h4 style="font-size: 14px; margin: 2px ; margin-bottom: 5px; margin-top: 5px;">Ingredients:</h4>
                            <div style=" margin-top: 5px;">
                                <ul class="info">
                                    <li style="margin: 5px; padding: 5px; opacity: .5;font-size: 14px; "v-for="ing in activeDrink.ingredients" :key="ing.ing">
                                        {{ing.amount}} - {{ing.ing}}
                                    </li>
                                </ul>
                            </div>
                        </div>


                    <div style="width: 50%;" class="instructions">
                        <h4 style="font-size: 14px; margin: 0 ;">Instructions:</h4>
                        <p style="line-height: 1.5em;font-size: 14px; margin: 2px;"class="directions">{{activeDrink.strInstructions}}</p>
                    </div>
            </div>



            </div>
        </div>
    </div>

    </section>
</div>
    <script src="cocktails.js"></script> 
</body>
</html>